@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --primary_color: #9DC82C;
    --bg_color: #E8E8E8;
    --bg_color1: white;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: 'inter';
}

.container {
    width: 1440px;
    max-width: 98%;

    margin: 0 auto;

    display: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    align-items: inherit;
    gap: inherit;
}

h1, h2, h3 {
    font-family: 'inter';
}

body {
    background-color: var(--bg_color1);
}

header {
    height: 83px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary_color);    

    position: relative;
    z-index: 99;     
}

header .logo {
    width: 124px;
    height: 34px;
    background-image: url(../img/logo.svg);
    background-size: cover;
}

header nav ul {
    display: flex;
    gap: 50px;

    list-style: none;

    z-index: 99;
    background-color: #9DC82C;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a::after {
    content: '';
    display: block;

    width: 0%;
    height: 3px;
    background-color: white;

    transition: .3s;
    margin-left: 50%;
}

header nav li:hover a::after {
    width: 100%;

    margin-left: 0%;
}

header .catalogclick {
    color: white;
    background-color: var(--primary_color);

    width: 113px;
    height: 43px;

    border-radius: 10px;
    border-color: white;

    cursor: pointer;

    font-size: 14px;
    transition: .3s;

    display: flex;

    border: 2px solid white;

    padding: 13px 26px;

    gap: 5px;
    align-items: center;

    font-weight: 700;
}

header .catalogclick:hover {
    background: var(--bg_color1);
    color: var(--primary_color);
}

header button:hover {
    opacity: 0.8;
}

.burger {
    display: none;
}
.logoprimary {
    display: flex;
    align-items: center;
}

header .logoKrz {
    width: 24px;
    height: 24px;
    background-image: url(../img/shopping-bag.svg);
    background-size: cover;
}

header .primary {
    color: white;
    background-color: var(--primary_color);

    width: 89px;
    height: 17px;

    display: flex;
    align-items: center;

    border-color: var(--primary_color);

    cursor: pointer;

    font-size: 14px;

    border: none;
    font-weight: 700;
}

@media screen and (max-width: 1034px) {
    header .primary {
        width: auto;
    }
    header .primary p {
        display: none;
    }
}
@media screen and (max-width: 870px) {
    header nav {
        /* display: none; */

        position: fixed;

        left: 0;
        top: 83px;

        flex-direction: column;

        text-align: center;

        width: 100%;
        height: 100%;

        justify-content: center;

        left: 100%;
        transition: .3s;
    }

    header nav.show {
        left: 0%;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.03);

    }
    header nav ul {
        height: 100dvh;
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: center; */
        background-color: white;

        padding-left: 20px;
        padding-top: 45px;
    }
    header nav ul a {
        color: black;
    }
    header nav a::after {
        content: '';
        display: block;
    
        width: 0%;
        height: 3px;
        background-color: var(--primary_color);
    
        transition: .3s;
        margin-left: 50%;
    }
    header nav li:hover a::after {
        width: 100%;
    
        margin-left: 0%;
    }
    header .catalogclick {
        order: -1;

        background-color: white;
        color: #9DC82C;
        border: 2px solid #9DC82C;
    }
    header .catalogclick:hover {
        background: var(--primary_color);
        color:white;
    }
    header {
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.03);
        background-color: white;
    }

    header .logo {
        width: 104px;
        /* height: 23px; */
        background-image: url(../img/logomini.svg);
        background-size: cover;
    }

    header .burger {
        display: flex;

        width: 18px;
        height: 14px;
    
        flex-direction: column;
        justify-content: space-between;

        margin-right: 14px;
        z-index: 99;
    }
    .burger span {
        width: 100%;
        height: 2px;
    
        background-color: #595959;
        transition: .3s;
    }
    .burger.show span:nth-child(1) {
        transform: rotateZ(45deg);
    }

    .burger.show span:nth-child(2) {
        width: 0%;
    }

    .burger.show span:nth-child(3) {
        transform: rotateZ(-45deg);
    }

    header .primary {
        background: transparent;
    }

    header .logoKrz {
        background-image: url(../img/shopping-bag-gray.svg);
    }
}

/* Katalog */

section#menu {
    position: fixed;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20%);
    transition: .3s;
    background-color: white;
    z-index: 98;    
}

section#menu.show {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0%);
}

.menus {
    border-radius: 10px;
    width: 835px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.03);
    background: #fff;
    
    /* gap: 55px; */
    margin-top: 65px;
    margin-left: 215px;

    /* padding-top: 50px;
    padding-left: 60px; */
    padding-bottom: 21px;
}
.menus-menu {
    padding: 50px 60px 0 60px;
    display: grid;
    width: 835px;
    gap: 41px;
    /* height: 596px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 215px 215px;
}
.menus .item {
    width: 100%;

    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    gap: 25px;
}

.menus-menu .item h2 {
    margin-bottom: 10px;
}
.menus .item p {
    margin: 0;
    /* margin-bottom: 25px; */
    display: inline-block;
}
.menus .item p a {
    color: black;
    text-decoration: none;
    display: inline-block;
    /* width: 200px; */
    /* max-width: 100%; */
    /* width: 100%; */
}
.menus .item p a::after {
    content: '';
    display: block;

    width: 0%;
    height: 3px;
    background-color: var(--primary_color);

    transition: .3s;
    margin-left: 50%;
}
.menus .item p a:hover::after {
    width: 100%;
    margin-left: 0%;
}
.menus .item p a:hover {
    opacity: 0.8;
}

.menus .sale {
    
    width: 793px;
    height: 49px;

    border-radius: 10px;
    border: none;
    background-color: #fe5a63;
    color: var(--bg_color1);

    grid-column: span 3; 
    display: flex;
    
    align-items: center; 
    justify-content: center; 
    text-align: center; 

    margin-top: 56px;

    cursor: pointer;
    transition: .3s;
}

.menus .sale:hover {
    opacity: 0.8;
}

.menus-menu .item .salesss {
    color: #f8333d;
}

.menus-menu .item .salesss::after {
    content: '';
    display: block;

    width: 0%;
    height: 3px;
    background-color: #f8333d;

    transition: .3s;
    margin-left: 50%;
}
.menus-menu .item .salesss:hover::after {
    width: 100%;
    margin-left: 0%;
}
.menus-menu .item .salesss:hover {
    opacity: 0.8;
}

/* Korzina */

.menus-korzin {
    display: flex; 
} 

.korzina-menu {
    width: 215px;
    height: 264px;

    border-radius: 10px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.03);
    background: #fff;

    padding: 21px 29px 21px 29px;
    display: flex;
    flex-direction: column;
    gap: 11px; 

    margin-top: 65px;
    margin-left: 178px;
}
.itemkorzin {
   display: flex;
   align-items: center;
   gap: 11px;
}
.item-image {
    width: 28px;
    height: 40px;
    object-fit: cover;
}
.korzin {
    border-radius: 10px;
    padding: 13px 36px;
    background: var(--primary_color);
    border: none;
    color: white;
    font-weight: bolder;

    cursor: pointer;
    transition: .3s;
}
.korzina-menu .korzin:hover {
    opacity: 0.8;
}

.korzina-menu p {
    font-size: 12px;
}

.korzina-menu .itemkorzin .two {
    color: black;
    text-decoration: none;
}

.korzina-menu .itemkorzin .two::after {
    content: '';
    display: block;

    width: 0%;
    height: 3px;
    background-color: var(--primary_color);

    transition: .3s;
    margin-left: 50%;
}
.korzina-menu .itemkorzin .two:hover::after {
    width: 100%;
    margin-left: 0%;
}
.korzina-menu .itemkorzin  .two:hover {
    opacity: 0.8;
}

/* адаптация каталог */

@media screen and (max-width: 870px) {
    section#menu {
        width: 100%;
        height: calc(100% - 83px);
        overflow-y: scroll;
    }
    .menus {
        margin: 0;
    }
    .menus-menu {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
        gap: 55px;
        padding: 20px 0 0 45px;
        width: 100%;
    }
    .menus .sale {
        width: 100%;
    }
    .korzina-menu {
        display: none;
    }
   
}

/* Баннер */

#banner {
    position: relative;
    margin-bottom: 200px;
}
#banner .container {
    position: relative;
}
#banner .content {
    background-color: var(--bg_color);
    height: 822px;
    width: 100%;
}

 .lamp {
    background-image: url(../img/lamp.png);

    width: 97px;
    height: 244px;

    position: absolute;

    right: 82px;
    top: 0;

    z-index: 10;
    object-fit: contain;
 }

 #banner h1 {
    padding-top: 267px;
    font-size: 48px;

    font-weight: bold;
 }
 #banner h3 {
    padding-top: 28px;
    font-size: 18px;

    font-weight: 400;
    line-height: 1.6;
 }

 .poisk {
    height: 62px;
    width: 533px;

    border-radius: 10px;
    border: 1px solid white;

    background: linear-gradient(to right, white, transparent);

    margin-top: 61px;
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0 17px;
 }
 .poisk p {
    padding-left: 22px;
    margin: 0;
 }

 /* выпадающий список */

 .dropdown {
    position: relative;
    display: flex;
    align-items: center;
}
.dropbtn {
    background: transparent; 
    color: black; 

    font-weight: 300;

    padding-left: 15px;

    font-size: 12px; 

    border: none; 
    cursor: pointer; 
}
.dropdown-content {
    display: none;
    position: absolute;

    background: linear-gradient(to right, white, transparent);
    min-width: 121px; 
    border-radius: 10px;

    z-index: 1; 

    transform: translate(81px, 36px);

}
.dropdown-content a {
    color: black; 
    padding: 8px 25px 8px 14px;
    text-decoration: none; 
    display: block; 
    border-radius: 10px;
}
.dropdown-content a:hover {
    background: linear-gradient(to right, white, transparent);
}
.dropdown:hover .dropdown-content {
    display: block; 
}
.dropdown:hover .dropbtn {
    background: transparent;
}

.poisk .krug {
    border-radius: 100%;

    background-color: var(--primary_color);

    height: 34px;
    width: 34px;

    display: flex;
    align-items: center;

    justify-content: center;
    margin-left: 15px;

    cursor: pointer;
}
.container .virtorya {
    background-image: url(../img/Virtorya.jpg);

    width: 365px;
    height: 321px;

    border-radius: 10px;

    position: absolute;

    right: 82px;

    top: 340px;

    /* z-index: 10; */
    object-fit: contain;
}
.container .kreslo {
    background-image: url(../img/kreslo.png);

    width: 650px;
    height: 512px;

    position: absolute;

    right: 67px;

    top: 452px;

    z-index: 10;
    object-fit: contain;
}
.container .plus {
    background-image: url(../img/plus.jpg);

    width: 193px;
    height: 62px;

    position: absolute;
    border-radius: 20px;

    right: 412px;

    top: 735px;

    z-index: 11;
    object-fit: contain;
}
.container .plusplus {
    background-image: url(../img/plusplus.jpg);

    width: 193px;
    height: 62px;

    position: absolute;
    border-radius: 20px;

    right: 59px;

    top: 855px;

    z-index: 11;
    object-fit: contain;
}

#banner .burgerburger {
    display: none;
}

@media screen and (max-width: 870px) {
    #banner {
        margin-bottom: 250px;
    }
    #banner .decor .lamp {
        display: none;
    }
    #banner .decor .plus {
        display: none;
    }
    #banner .decor .plusplus {
        display: none;
    }
    #banner .content {
        height: auto;
    }
    #banner .content {
        background-color: var(--bg_color);
        height: 648px;
        width: 100%;
    }

    #banner h1 {
        font-size: 32px;
        padding-top: 75px;

        text-align: center;
    }

    #banner h3 {
        font-size: 16px;
        padding-top: 15px;

        text-align: center;
        padding-bottom: 40px;
    }

    .decor {
        position: relative;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .poisk .dropbtn {
        display: none;
    }

    .poisk {
        width: 280px;
        margin: 0 auto;

        align-items: center;
    }

    .decor .kreslo {
        background-image: url(../img/kresloMini.png);

        width: 375px;
        height: 342px;
    
        position: relative;
        margin: 20px 0;
    
        object-fit: contain;
        align-items: center;
        top: 134px;
        right: auto;
    }
    .decor .virtorya {
        background-image: url(../img/VirtoryaMini.jpg);
    
        width: 289px;
        height: 321px;
    
        border-radius: 10px;
        margin: 20px 0;
    
        top: 30px;
        left: calc(50% - 144.5px);
        
        position: absolute;
    
        object-fit: contain;
    }

    #banner .burgerburger {
        display: flex;

        width: 18px;
        height: 14px;
    
        flex-direction: column;
        justify-content: space-between;

        margin-right: -17px;
        cursor: pointer; 
        
    }
    #banner .burgerburger span {
        width: 100%;
        height: 2px;
    
        background: #595959;
        transition: .3s;
    }
    /* #banner .burgerburger span:nth-child(1) {
        width: 100%;
        /* align-items: center; */
        /* text-align: center;
    }
    #banner .burgerburger span:nth-child(2) {
        width: 65%;
        /* align-items: center; */
        /* text-align: center;
    }
    #banner .burgerburger span:nth-child(3) {
        width: 35%;
        align-items: center;
    } */ 
}

/* Популярные категории */
#popularkategory .spisok {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали (если нужно) */
    flex-direction: column;
}

#popularkategory h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.spisok ul {
    display: flex;
    gap: 50px;

    list-style: none;
    background-color: white;

    padding-top: 65px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.spisok ul a {
    color: black;
    text-decoration: none;
}

.spisok ul .st a {
    color: white;
}

.spisok ul a::after {
    content: '';
    display: block;

    width: 0%;
    height: 3px;

    background-color: var(--primary_color);

    transition: .3s;
    margin-left: 50%;
}

.spisok ul li:hover a::after {
    width: 100%;
    margin-left: 0%;
}

#popularkategory .kategory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 388px 388px;
    gap: 25px;
    padding-top: 71px; 
}

#popularkategory .vso {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    width: 291px;
    height: 388px;
}

#popularkategory .kreslos {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 291px;
    height: 283px;

    position: relative;
    border-radius: 10px;
    background-color: #fafafa;
    overflow: hidden;

    text-align: center;

    padding: 54px 84px;

    /* gap: 8px; */
}

#popularkategory .txt {
    display: flex;
    padding-left: 20px;
    gap: 7px;
    flex-direction: column;
}

#popularkategory .txt h5 {
    /* position: absolute; */
    font-size: 18px;
    font-weight: 700;

    color: black;
    margin-top: 17px;
}
#popularkategory .txt p {
    /* position: absolute; */
    font-size: 14px;
    font-weight: 400;

    color: rgb(65, 64, 64);
    /* text-align: center; */
    /* margin: 5px 0; */
}
#popularkategory .txt h4 {
    /* position: absolute; */
    font-size: 20px;
    font-weight: 400;

    color: black;
    margin-top: 13px;
}
#popularkategory .kreslos img {
    object-fit: cover;
    width: 123px;
    height: 174px;
    text-align: center;
    /* align-items: center;
    padding-bottom: 71px; */
}

.txt h4 .qwe {
    font-weight: 300;
    font-size: 14px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.25);
    display: inline;
    margin-left: 13px;
}

.spisok .st {
    border-radius: 10px;
    padding: 8px 16px;



    background: #363636; 

    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Kayetr */

@media screen and (max-width: 1262px) {
    #popularkategory h2 {
        font-size: 32px;
        padding-top: 10px;

        text-align: center;
    }

    .spisok ul {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-top: 25px;
        width: 100%;
        overflow: scroll;
    }

    #popularkategory .kategory {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 948px) {
    

    #popularkategory .kategory {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 234px 234px 234px;
        gap: 9.15px;
        padding-top: 20px;
    }

    #popularkategory .vso {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        width: 163px;
        height: 233px;
    }
    
    #popularkategory .kreslos {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        width: 162px;
        height: 158px;
        position: relative;
        border-radius: 6px;
        background-color: #fafafa;
        overflow: hidden;
    
        text-align: center;
    
        padding: 30px 47px;
    }

    #popularkategory .txt {
        display: flex;
        padding-left: 20px;
        gap: 5px;
        flex-direction: column;            
    }
    
    #popularkategory .txt h5 {
        font-size: 14px;
        font-weight: 700;
        color: black;
        margin-top: 7px;
    }
    #popularkategory .txt p {
        font-size: 12px;
        font-weight: 400;
        color: rgb(65, 64, 64);
    }
    #popularkategory .txt h4 {
        font-size: 15px;
        font-weight: 400;
        color: black;
        margin-top: 13px;
    }
    #popularkategory .kreslos img {
        object-fit: cover;
        width: 69px;
        height: 98px;
        text-align: center;
    }
    .vso .txt h4 .qwe {
        display: none;
    }
}

/* Новости и предложения */

#news {
    padding-top: 180px;
}

#news h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

.news {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 25px;
}

.news .newsimg:first-child {
    grid-column: 1/6;
    grid-row: 1/3;
}

.news .newsimg:nth-child(2) {
    grid-column: 6/9;
    grid-row: 1/2;
}

.news .newsimg:nth-child(3) {
    grid-column: 6/9;
    grid-row: 2/3;
}

.news .newsimg:nth-child(4) {
    grid-column: 1/3;
    grid-row: 3/4;
}

.news .newsimg:nth-child(5) {
    grid-column: 3/5;
    grid-row: 3/4;
}
.news .newsimg:nth-child(6) {
    grid-column: 5/7 ;
    grid-row: 3/4;
}
.news .newsimg:nth-child(7) {
    grid-column: 7/9;
    grid-row: 3/4;
}
.news .newsimg:nth-child(8) {
    grid-column: 1/9;
    grid-row: 4/6;
    background-color: red;
    border-radius: 10px;
    display: flex;

    justify-content: flex-end;
    margin-right: 18px;

    width: 100%;
}


.newsimg {
    position: relative;
}
.newsimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.newsimg h3{
    bottom: 30px;
    left: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: white;
}
.newsimg .absolute {
    position: absolute;
    bottom: 30px;
    left: 26px;
}
.newsimg .divantxt {
    position: absolute;
    top: 77px;
    left: 43px;
}
.divantxt h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 219%;
    color: var(--primary_color);

    margin-bottom: 12px;
}
.divantxt h6 {
    font-weight: 700;
    font-size: 40px;
    line-height: 87%;
    color: black;

   margin-bottom: 12px;
}
.divantxt h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: rgba(0, 0, 0, 0.54);

    margin-bottom: 23.5px;
}
.divantxt h5 {
    font-weight: 700;
    font-size: 20px;
    color: black;

    margin-bottom: 40px;
}
.divantxt p {
    font-weight: 300;
    font-size: 14px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.25);
    display: inline;
    margin-left: 14px;
}

.divantxt .vkorzinu {
    width: 118px;
    height: 44px;

    background-color: var(--primary_color);
    color: white;
    font-size: 14px;

    border-radius: 8px;
    border: none;

    cursor: pointer;
    transition: .3s;

    display: flex;
    align-items: center;
    padding: 0px 23px;
    /* border: 0px solid var(--primary_color); */
}
.divantxt .vkorzinu:hover {
    background: var(--bg_color1);
    color: var(--primary_color);
    opacity: 0.8;
    border: 2px solid var(--primary_color)
}


.newsimg .ah {
    position: absolute;
    left: 18px;
    bottom: 21px;
}
.newsimg .ah h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    color: white;
}
.newsimg .ah a {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.newsimg .ah a::after {
    content: '';
    display: block;

    width: 0%;
    height: 3px;

    background-color: white;

    transition: .3s;
    margin-left: 50%;
}

.newsimg .ah a:hover::after {
    width: 100%;
    margin-left: 0%;
}

.newsimg .imgYT {
    width: 346px;
    height: 262px;
}
.newsimg .ahYT {
    position: absolute;
    top: 35.17px;
    left: 61px;
}

.ahYT h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 102%;

    padding-bottom: 12px;
    color: white;
}
.ahYT p {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;

    padding-bottom: 30px;
    color: white;
}
.newsimg .YT {
    width: 118px;
    height: 44px;

    background-color: white;
    color: red;
    font-size: 14px;

    border-radius: 8px;
    border: none;

    cursor: pointer;
    transition: .3s;

    display: flex;
    align-items: center;
    padding: 0px 13px;
}
.newsimg .YT:hover {
    background: rgb(229, 191, 191);
    opacity: 0.8;
}
.newsimg .imgButYT {
    width: 21px;
    height: 21px;
    padding-left: 4px;
}


/* Отзывы при мини экране */

@media screen and (max-width: 948px) {
    #news h2 {
        font-size: 32px;
        padding-top: 10px;

        text-align: center;
    }

    #news .newsimg:first-child{
        display: none;
    }
    #news .newsimg:nth-child(2){
        display: none;
    }
    #news .newsimg:nth-child(3){
        display: none;
    }

    .news {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        
    }
    #news .newsimg {
        grid-column: auto;
        grid-row: auto;
    }

    .newsimg {
        position: relative;
        margin: 0 auto;
    }
    .newsimg img{
        width: 436px;
        max-width: 100%;
        height: 190px;
        /* object-fit: cover; */
        border-radius: 10px;
    }
    .newsimg .absolute {
        position: absolute;
        /* bottom: 30px;
        left: 26px; */
    }
    .news .newsimg:nth-child(8) {
        background-color: red;
        border-radius: 10px;
        display: flex;
        margin: 0 auto;
       
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* width: 436px; */
        max-width: 100%;
        height: 439px;
        padding-top: 36px;
    }
    .newsimg .ah {
        position: absolute;
        left: 18px;
        bottom: 48px;      
    }
    .newsimg .ah h4 {
        font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        color: white;
    }
    .newsimg .ah a {
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        color: white;
        text-decoration: none;
        display: inline-block;
    }
    
    .newsimg .ah a::after {
        content: '';
        display: block;
    
        width: 0%;
        height: 3px;
    
        background-color: white;
    
        transition: .3s;
        margin-left: 50%;
    }
    
    .newsimg .ah a:hover::after {
        width: 100%;
        margin-left: 0%;
    }
    
    .newsimg .imgYT {
        width: 244px;
        height: 184px;
    }
    .newsimg .ahYT {
        /* position: absolute;
        top: 35.17px;
        left: calc(50% - 218px); */

        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .ahYT h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 161%;
    
        padding-bottom: 6px;
        color: white;
    }
    .ahYT p {
        font-weight: 400;
        font-size: 13px;
        line-height: 131%;
        text-align: center;

        padding-bottom: 30px;
        color: white;
    }
    .newsimg .YT {
        width: 118px;
        height: 44px;
    
        background-color: white;
        color: red;
        font-size: 14px;
    
        border-radius: 8px;
        border: none;
    
        cursor: pointer;
        transition: .3s;
    
        display: flex;
        align-items: center;
        padding: 0px 13px;
    }
    .newsimg .YT:hover {
        background: rgb(229, 191, 191);
        opacity: 0.8;
    }
    .newsimg .imgButYT {
        width: 21px;
        height: 21px;
        padding-left: 4px;
    }
}




/* Отзывы */


#reviews {
    padding-top: 90px;
    margin-top: 90px;
    background-color: #F9F9F9;

    /* height: 514px; */
}

#reviews h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

#reviews .review {
    margin: 0 auto;

    width: 354px;
    max-width: 100%;

    min-height: fit-content;

    padding: 17px 22px;

    background-color: white;
    border-radius: 8.77px;

    display: flex;
    flex-direction: column;

    position: relative;
}

#reviews .review .star {
    width: 74px;
    height: 13px;

    position: absolute;
    right: 17px;
}

#reviews .review .imgH {
    display: flex;
    gap: 17px;
    /* margin-top: 26px; */
    margin-bottom: 15px;
}
#reviews .review h4 {
    font-weight: 600;
    font-size: 15px;
    line-height: 110%;
    color: black;
    padding-top: 15px;
}
#reviews .review .photo {
    width: 65px;
    height: 65px;
}
#reviews .review p {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.65);
    padding-bottom: 32px;
}
.review h6 {
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.65);

    position: absolute;
    right: 17px;
    top: 214px;
}

#reviews .swiper-slide .review {
    opacity: 0.4;
    transform: scale(0.8);
    transition: .3s;
}

#reviews .swiper-slide-active .review {
    opacity: 1;
    transform: scale(1);
}

/* .swiper-wrapper {
    min-height: 500px;
    padding-bottom: 50px;
} */

/* Стили для кнопок навигации */
#reviews .swiper-button-prev,
#reviews .swiper-button-next {
    border-radius: 100%; 
    background-color: rgb(157, 200, 44, 0.3); 
    fill-opacity: 0.3;
    height: 36px; 
    width: 36px; 
    display: flex;
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
}
/* Стили для стрелок */
#reviews .swiper-button-prev::after,
#reviews .swiper-button-next::after {
    font-size: 12px; 
    color: var(--primary_color); 
    text-align: center; 
}

.swiper-pagination {
    display: none;
}

@media screen and (max-width: 948px) {
    #reviews h2 {
        font-size: 32px;
        text-align: center;
        padding-bottom: 48px;
    }
    #reviews {
        padding-top: 70px;
        /* margin-top: 35px; */
        background-color: #F9F9F9;
        /* height: 514px; */
        margin: 0;
    }
    #reviews .container {
        margin-bottom: 50px;
    }
    #reviews .swiper-pagination {
        display: flex;
        justify-content: center;
    }
    span.swiper-pagination-bullet {
        background-color: rgb(157, 200, 44, 0.7); 
        width: 8px !important;
        height: 8px !important;
    }
    .swiper-pagination-bullet-active {
        background-color: var(--primary_color);
    }
    #reviews .swiper-button-prev,
    #reviews .swiper-button-next {
        display: none;
    }
}   

/* Информация */

#reviews .info {
    display: flex;
    margin-top: 100px;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    /* gap: 12px; */
    flex-direction: column;
}

.info h3 {
    font-weight: 800;
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
}
.info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.6);
}

.info .infoimg {
    display: flex;
    margin-top: 68px;
    gap: 22px;
    align-items: center;

    margin-bottom: 70px;
}
.infoimg .imginf {
    width: 259px;
    height: 181px;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.6);
} 

.infoimg .imginf img {
    padding: 40px 109px 13px 109px;
}

.infoimg .imginf p {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.62);
}

@media screen and (max-width: 948px) {
    .container .info h3 {
        font-weight: 800;
        font-size: 18px;
        color: black;
    }
    #reviews .info {
        display: flex;
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* text-align: left; */
        flex-direction: column;
    }
    .container .info p {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: rgba(0, 0, 0, 0.6);
    }
    .container .info p br {
        display: none;
    }
    .info .infoimg {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 9px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .infoimg .imginf {
        width: 163px;
        height: 137px;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    
        border-radius: 6%;
    
        background-color: rgba(255, 255, 255, 0.6);
    } 
    .infoimg .imginf p {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: rgba(0, 0, 0, 0.62);
    } 
}

/* Podval */

#podval .podvalpodval {
    height: 422px;
    display: flex;
    /* flex-direction: column; */

    gap: 149px;
}

.podvalpodval .podvalone {
    display: flex;
    flex-direction: column;
        /* text-align: center; */
    margin-top: 72px;
    margin-left: 174px;
}
.podvalpodval .podvalone img {
    width: 236px;
    height: 96px;

    margin-bottom: 6px;
}
.podvalpodval .podvalone h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    color: #8cc004;

    margin-bottom: 11px;
}
.podvalpodval .podvalone p {
    font-weight: 400;
    font-size: 9px;
    line-height: 167%;
    color: rgba(0, 0, 0, 0.7);
}

.podvalpodval .podvaltwo {
    display: flex;

    gap: 87px;
    margin-top: 67px;
}

.podvalpodval .podvaltwo .itempodval {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.podvalpodval .podvaltwo .itempodval h5 {
    font-weight: 700;
    font-size: 16px;
    color: #3f3f3f;
}

.podvalpodval .podvaltwo .itempodval p {
    font-weight: 500;
    font-size: 13px;
    color: #585858;
}

.podvalpodval .podvaltwo .itempodval a {
    font-weight: 500;
    font-size: 13px;
    color: #585858;

    text-decoration: none;
    display: inline-block;
    width: fit-content;
}

.podvalpodval .podvaltwo .itempodval a::after {
    content: '';
    display: block;

    width: 0%;
    height: 3px;
    background-color: var(--primary_color);

    transition: .3s;
    margin-left: 50%;
}

.podvalpodval .podvaltwo .itempodval a:hover::after {
    width: 100%;
    margin-left: 0%;
}


@media screen and (max-width: 948px) {
    #podval .podvalpodval {
        height: 940px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .podvalpodval .podvalone {
        margin-top: -15px;
        margin-left: 33px;
        /* margin: 0 auto; */
    }
    .podvalpodval .podvaltwo {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        gap: 30px;
    }
}